[submodule "crates/vc-issuer-mock-core/tests-vc-api/vc-api-issuer-test-suite"]
	path = crates/vc-issuer-mock-core/tests-vc-api/vc-api-issuer-test-suite
	url = https://github.com/w3c-ccg/vc-api-issuer-test-suite.git
